body{
  font-family:"Verdana", "Sans serif";
  color: #000080;
  background-color: #FFFFFF;
}

.tekst{
  font-family:"Verdana", "Sans serif";
  color: #000080;
  background-color:white;
}

.tab{
  text-indent: 5%
}

#blaware{
  background-image: url(Blaware.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}

#page {
  position:absolute;
  left:10.5em;
  border-color: white white white #000080;
  border-width: 5px;
  border-style: solid;
  padding: 0 0 0 5px;
}

