body {
	font-family: "Verdana", sans-serif;
	color: #000080;
	background-color: #d9d9d9;;
}

#page {
	position: absolute;
	left: 10.5em;
	border-color: #cccccc #cccccc #c0c0c0 #000080;
	border-width: 5px;
	border-style: solid;
	padding: 0 15px;
}

