ul.menu, ul.menu li {
  margin:0;
  padding:0;
  list-style-type:none;
  font-size:100%;
}

ul.menu {
  position:absolute;
  z-index:1000;
  cursor:default;
  width:8em;
  left:1em;
  top:1.05em;
}

ul.menu li {
  position:relative;
  text-align:left;
  cursor:pointer;
  cursor:hand;
  width:8em;
  margin:5px 0 0 0;
}

@media Screen, Projection { 
  ul.menu li:hover > ul { top:0; }
  }

ul.menu a, ul.menu a:visited {
  display:block;
  cursor:pointer;
  cursor:hand;
  background:#FFFFFF;
  border:6px solid;
  padding:5px 7px;
  font:normal normal bold 1em verdana, sans-serif;
  color:#000080;
  text-decoration:none;
}
	
ul.menu a:hover, ul.menu a:focus, ul.menu a.rollover, ul.menu a.rollover:visited {
  background:#FFFFFF;
  color:#FF0000;
}

@media screen, projection {
  * html ul.menu li {
  display:inline; 
  f\loat:left; 
  background:#ffffff; 
}
}
* html ul.menu li { position:static; }
* html ul.menu a { position:relative; }
ul[class^="menu"] ul { display:none; }
ul[class^="menu"] ul { displa\y:block; }

.knop{
  font-family: "Verdana", "Sans serif";
  border-color: #0000FF #000080 #000080 #0000FF;
  background-color: #FFFFFF;
}

a:active{
  color: #000099;
  border-color: #000099 #000066 #000066 #000099 ;
}

a:visited{
  color: #000080;
}


a:hover{
  color: #FF0000;
  border-color: #FF0000 #CC0000 #CC0000 #FF0000;
}